.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.monthlyChart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.expenseCategoryChart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
}
